body{
    min-height: 200vh;
    display: flex;
    flex-direction: column-reverse;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    padding: 1rem;
    display: inline-block;
}

nav{
    box-shadow: blanchedalmond;
    position: sticky;
    bottom: 1rem;
}
@media screen and (min-width: 990px) { 
    nav{ 
      top: 0; 
    }
    body{
        display: flex;
        flex-direction: column;
    }
  }