head { 
  margin-left: 100px;
  margin-right: 100px;
}


div{
  display: flex;
  justify-content: center;
}
nav{
  flex: 1;
}
p{
  flex: 2;
}
ul{
  flex: 1;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
}